[connection]
id=ethernet
uuid=9a60a8a1-e195-4ed5-b99c-ff5d80d7fff1
type=ethernet
autoconnect-priority=-999
permissions=

[ethernet]
mac-address-blacklist=

[ipv4]
address1=TMPLIP/TMPLMASK,TMPLGW
dns=TMPLDNS;
dns-search=TMPLSEARCH
ignore-auto-dns=true
method=manual

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

