[connection]
id=TMPLSSID
uuid=9a60a8a1-e195-4ed5-b99c-ff5d80d7fff0
type=wifi
permissions=

[wifi]
mode=infrastructure
ssid=TMPLSSID

[wifi-security]
key-TMPLCRYPTO
psk=TMPLKEY

[ipv4]
address1=TMPLIP/TMPLMASK,TMPLGW
dns=TMPLDNS;
dns-search=TMPLSEARCH
ignore-auto-dns=true
method=manual

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

