[connection]
id=TMPLSSID
uuid=9a60a8a1-e195-4ed5-b99c-ff5d80d7fff0
type=wifi
permissions=

[wifi]
mode=infrastructure
ssid=TMPLSSID

[wifi-security]
auth-alg=open
key-mgmt=TMPLCRYPTO
psk=TMPLKEY

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

